<a href="https://colab.research.google.com/github/osniramilton/SoulCodeAcademico/blob/soulcode/Despesa_alesp_Osni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.13.4-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 3.8 MB/s
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.13.4 typing-inspect-0.8.0

In [ ]:
import pandas as pd
import pandera as pa
import numpy as np

# Extração de DADOS

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/bc26-bucket/despesa_alesp.csv')
df_cad = pd.read_csv('https://storage.googleapis.com/bc26-bucket/cadastro_alesp.csv')

In [ ]:
df_cad

,IdDeputado,IdSPL,IdUA,Situacao,Andar,Aniversario,Biografia,Email,Matricula,NomeParlamentar,PathFoto,Sala,Partido,Telefone,Fax,PlacaVeiculo
0,549,1000000330,20377,EXE,3º andar,01/11,"<p style=""margin: 0cm 0cm 0.0001pt; background...",adalbertofreitas@al.sp.gov.br,300605,Adalberto Freitas,http://www3.al.sp.gov.br/repositorio/deputadoP...,305,PSDB,(11) 3886-6557 / 6559,NaN,NaN
1,548,1000000332,20370,EXE,Térreo,09/07,"<p class=""MsoNormal"">Com uma hist&oacute;ria d...",adrianaborgo@al.sp.gov.br,300606,Adriana Borgo,http://www3.al.sp.gov.br/repositorio/deputadoP...,T. 45,AGIR,(11) 3886-6567/8770,NaN,NaN
2,547,1000000335,20455,EXE,2º andar,26/08,<p>Danilo Mascarenhas de Balas nasceu na cidad...,apfdanilobalas@al.sp.gov.br,300607,Agente Federal Danilo Balas,http://www3.al.sp.gov.br/repositorio/deputadoP...,255,PL,(11)3886-6052/6054,NaN,NaN
3,128,39,20369,EXE,3º,04/01,"<p style=""outline: none; color: #121212; margi...",ademarchi@al.sp.gov.br,300288,Aldo Demarchi,http://www3.al.sp.gov.br/repositorio/deputadoP...,356,UNIÃO,3886-6453/6454,NaN,NaN
4,546,1000000342,20399,EXE,1º,17/09,"<p>Alexander Muniz de Oliveira, nascido na cid...",alexdemadureira@al.sp.gov.br,300608,Alex de Madureira,http://www3.al.sp.gov.br/repositorio/deputadoP...,173,PL,(11)3886-6676 / 6677,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,289,13109,20414,EXE,1º,08/07,"<p>Teonilio Monteiro da Costa, o Barba &ndash;...",teoniliobarba@al.sp.gov.br,300584,Teonilio Barba,http://www3.al.sp.gov.br/repositorio/deputadoP...,103,PT,(011)3886-6493 / 6495,NaN,NaN
89,504,1000000373,20400,EXE,3º andar,23/04,"<p class=""MsoNormal"">O advogado e deputado est...",ThiagoAuricchio@al.sp.gov.br,300648,Thiago Auricchio,http://www3.al.sp.gov.br/repositorio/deputadoP...,353,PL,(011)3886-6214 / 6216,NaN,NaN
90,503,1000000374,20447,EXE,Térreo,16/09,"<div style=""outline: none; color: #121212; fon...",ValeriaBolsonaro@al.sp.gov.br,300649,Valeria Bolsonaro,http://www3.al.sp.gov.br/repositorio/deputadoP...,T. 06,PL,(011)3886-6222 / 6223,NaN,NaN
91,13,448,20394,EXE,Térreo,06/11,"<p class=""WordSection1"" style=""text-align: jus...",depviniciuscamarinha@al.sp.gov.br,300430,Vinícius Camarinha,http://www3.al.sp.gov.br/repositorio/deputadoP...,T. 55,PSDB,3886-6366/6365/6494,NaN,NaN
92,290,13098,20405,EXE,2º andar,22/01,"<p>Nascido em 1979, na cidade de Santos (litor...",wmoura@al.sp.gov.br,300589,Wellington Moura,http://www3.al.sp.gov.br/repositorio/deputadoP...,238,REPUBLICANOS,(011)3886-6096 / 6139,NaN,NaN

In [ ]:
df.dtypes

Ano             int64
Matricula       int64
Mes             int64
Valor         float64
CNPJ          float64
Tipo           object
Fornecedor     object
dtype: object

In [ ]:
df.CNPJ.is_unique

False

# Tratamento de DADOS, Beckup

In [ ]:
dfback = df.copy()

In [ ]:
df.head(1)

,Ano,Matricula,Mes,Valor,CNPJ,Tipo,Fornecedor
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA

LIMPEZA DE DADOS

In [ ]:
#Filtro de classificação PEDAGIO
df_despesas_cnpj = df

In [ ]:
# Verificador de letras em numeros
valores_estranhos = []
for i in range(len(df_despesas_cnpj)):
  try:
    int(df_despesas_cnpj.loc[i , 'cnpj' ])
  except Exception:
    valores_estranhos.append(df_despesas_cnpj.loc[i , 'cnpj'])
print(len(valores_estranhos))

1854

In [ ]:
valores_estranhos

In [ ]:
#Renomear para caixa baixa
df.rename(columns={'Ano':'ano','Matricula':'matricula','Mes':'mes','Valor':'valor','CNPJ':'cnpj','Tipo':'tipo','Fornecedor':'fornecedor'},inplace=True)

In [ ]:
df.isna().sum()

ano              0
matricula        0
mes              0
valor            0
cnpj          1854
tipo             0
fornecedor       0
cnpjback      1854
dtype: int64

In [ ]:
pd.unique(df['cnpj'])

array([5.04970001e+11, 4.88144950e+13, 6.58629060e+13, ...,
       7.31385400e+12, 1.70094900e+13, 3.25785710e+13])

In [ ]:
df.loc[:,'cnpj']

0         5.049700e+11
1         4.881450e+13
2         6.586291e+13
3                  NaN
4         9.904660e+11
              ...
118412    1.531481e+13
118413    6.729494e+10
118414    4.639213e+13
118415    6.106391e+13
118416    2.491558e+12
Name: cnpj, Length: 118417, dtype: float64

In [ ]:
df.count()

ano           118417
matricula     118417
mes           118417
valor         118417
cnpj          116563
tipo          118417
fornecedor    118417
dtype: int64

In [ ]:
pd.unique(['cnpj'])

array(['cnpj'], dtype=object)

# Validação dos Dados

In [ ]:
#Criação de um schema de validação de dados

schema = pa.DataFrameSchema(
      columns = {
          'ano':pa.Column(pa.Int),
          'matricula':pa.Column(pa.Int),
          'mes':pa.Column(pa.Int),
          'valor':pa.Column(pa.Float),
          'cnpj':pa.Column(pa.Float,nullable=True),
          'tipo':pa.Column(pa.String),
          'fornecedor':pa.Column(pa.String),
      }
)

In [ ]:
schema.validate(df)

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA,5.049700e+11
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.,4.881450e+13
2,2013,300098,1,1799.29,6.586291e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO EXECUTIVO LTDA,6.586291e+13
3,2013,300098,1,36.40,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
4,2013,300098,1,3100.00,9.904660e+11,"D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS ...",CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA ...,9.904660e+11
...,...,...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,1.531481e+13,K - LOCAÇÃO DE BENS MÓVEIS,FYIVAS SOLUÇÕES EM TECNOLOGIA LTDA ME,1.531481e+13
118413,2022,300655,9,2500.00,6.729494e+10,L - LOCAÇÃO DE BENS IMÓVEIS,MARIA INES SINISGALLI,6.729494e+10
118414,2022,300655,9,599.29,4.639213e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",SECRETARIA MUNICIPAL DA FAZENDA,4.639213e+13
118415,2022,300655,9,1836.13,6.106391e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER,6.106391e+13
118416,2022,300655,9,2835.90,2.491558e+12,O - LOCAÇÃO DE VEÍCULO,UNIDAS VEÍCULOS ESPECIAIS S.A.,2.491558e+12

In [ ]:
df.loc[:,'cnpj']

0         5.049700e+11
1         4.881450e+13
2         6.586291e+13
3                  NaN
4         9.904660e+11
              ...
118412    1.531481e+13
118413    6.729494e+10
118414    4.639213e+13
118415    6.106391e+13
118416    2.491558e+12
Name: cnpj, Length: 118417, dtype: float64

In [ ]:
df.isna().sum()

ano              0
matricula        0
mes              0
valor            0
cnpj          1854
tipo             0
fornecedor       0
dtype: int64

In [ ]:
pd.unique(df['cnpj'])

array([5.04970001e+11, 4.88144950e+13, 6.58629060e+13, ...,
       7.31385400e+12, 1.70094900e+13, 3.25785710e+13])

In [ ]:
df.count()

ano           118417
matricula     118417
mes           118417
valor         118417
cnpj          116563
tipo          118417
fornecedor    118417
cnpjback      116563
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118417 entries, 0 to 118416
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ano         118417 non-null  int64
 1   matricula   118417 non-null  int64
 2   mes         118417 non-null  int64
 3   valor       118417 non-null  float64
 4   cnpj        116563 non-null  float64
 5   tipo        118417 non-null  object
 6   fornecedor  118417 non-null  object
 7   cnpjback    116563 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 7.2+ MB

In [ ]:
df.isnull().sum().sum()

3708

In [ ]:
df.isna().mean()

ano           0.000000
matricula     0.000000
mes           0.000000
valor         0.000000
cnpj          0.015657
tipo          0.000000
fornecedor    0.000000
cnpjback      0.015657
dtype: float64

In [ ]:
df.dropna(axis = 1)

,ano,matricula,mes,valor,tipo,fornecedor
0,2013,300098,1,575.53,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA
1,2013,300098,1,1650.76,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.
2,2013,300098,1,1799.29,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO EXECUTIVO LTDA
3,2013,300098,1,36.40,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO
4,2013,300098,1,3100.00,"D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS ...",CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA ...
...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,K - LOCAÇÃO DE BENS MÓVEIS,FYIVAS SOLUÇÕES EM TECNOLOGIA LTDA ME
118413,2022,300655,9,2500.00,L - LOCAÇÃO DE BENS IMÓVEIS,MARIA INES SINISGALLI
118414,2022,300655,9,599.29,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",SECRETARIA MUNICIPAL DA FAZENDA
118415,2022,300655,9,1836.13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER
118416,2022,300655,9,2835.90,O - LOCAÇÃO DE VEÍCULO,UNIDAS VEÍCULOS ESPECIAIS S.A.

In [ ]:
df.isna().sum()

ano              0
matricula        0
mes              0
valor            0
cnpj          1854
tipo             0
fornecedor       0
cnpjback      1854
dtype: int64

In [ ]:
df['cnpj'].head(10)

0    5.049700e+11
1    4.881450e+13
2    6.586291e+13
3             NaN
4    9.904660e+11
5    1.048525e+12
6    1.037855e+13
7    1.301859e+13
8    5.533336e+13
9    8.918209e+12
Name: cnpj, dtype: float64

# #Dropagem e limpeza

In [ ]:
df.replace(['nan'],np.int,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

In [ ]:
df.count()

ano           118417
matricula     118417
mes           118417
valor         118417
cnpj          116563
tipo          118417
fornecedor    118417
dtype: int64

# FILTROS BECKUP

In [ ]:
#Beckup cnpj ultima linah
df['cnpjback'] = df.cnpj

In [ ]:
df

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA,5.049700e+11
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.,4.881450e+13
2,2013,300098,1,1799.29,6.586291e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO EXECUTIVO LTDA,6.586291e+13
3,2013,300098,1,36.40,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
4,2013,300098,1,3100.00,9.904660e+11,"D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS ...",CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA ...,9.904660e+11
...,...,...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,1.531481e+13,K - LOCAÇÃO DE BENS MÓVEIS,FYIVAS SOLUÇÕES EM TECNOLOGIA LTDA ME,1.531481e+13
118413,2022,300655,9,2500.00,6.729494e+10,L - LOCAÇÃO DE BENS IMÓVEIS,MARIA INES SINISGALLI,6.729494e+10
118414,2022,300655,9,599.29,4.639213e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",SECRETARIA MUNICIPAL DA FAZENDA,4.639213e+13
118415,2022,300655,9,1836.13,6.106391e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER,6.106391e+13
118416,2022,300655,9,2835.90,2.491558e+12,O - LOCAÇÃO DE VEÍCULO,UNIDAS VEÍCULOS ESPECIAIS S.A.,2.491558e+12

In [ ]:
#Filtro os valores nulos ou ausentes | NA, NULL, NaN, NaT E etc
filtronulo = df.cnpj.isna()
df.loc[filtronulo]

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
3,2013,300098,1,36.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
27,2013,300098,2,10.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
77,2013,300098,3,29.0,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
97,2013,300098,4,38.6,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
111,2013,300098,4,203.5,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
...,...,...,...,...,...,...,...,...
117309,2021,300650,11,115.2,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117374,2022,300650,1,30.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117433,2022,300650,3,53.0,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117590,2022,300650,8,398.9,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
118154,2021,300655,10,86.0,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN

In [ ]:
df.head(1)

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA,5.049700e+11

In [ ]:
#Filtro de classificação PEDAGIO
filtropedagio = df.fornecedor == 'PEDÁGIO'
dfpedagio = df.loc[filtropedagio]
dfpedagio

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
3,2013,300098,1,36.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
27,2013,300098,2,10.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
97,2013,300098,4,38.6,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
128,2013,300098,5,5.2,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
161,2013,300098,6,13.7,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
...,...,...,...,...,...,...,...,...
117270,2021,300650,10,75.6,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117309,2021,300650,11,115.2,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117374,2022,300650,1,30.4,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117433,2022,300650,3,53.0,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN
117590,2022,300650,8,398.9,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO,NaN

In [ ]:
#Filtro de classificação TAXI
filtrotaxi = df.fornecedor == 'TAXI'
dftaxi = df.loc[filtrotaxi]
dftaxi

,ano,matricula,mes,valor,cnpj,tipo,fornecedor,cnpjback
77,2013,300098,3,29.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
111,2013,300098,4,203.50,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
143,2013,300098,5,171.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
176,2013,300098,6,29.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
234,2013,300098,8,66.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
...,...,...,...,...,...,...,...,...
114049,2019,300646,10,350.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
115275,2019,300648,7,240.65,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
116516,2021,300649,8,58.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
116549,2021,300649,9,103.50,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN
118154,2021,300655,10,86.00,NaN,"I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCO...",TAXI,NaN